<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <module name="TreeWalker">
        <property name="severity" value="error"/>

        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <!-- Final -->
        <module name="FinalClass"/>
        <module name="FinalLocalVariable"/>
        <module name="FinalParameters"/>

        <module name="OuterTypeFilename"/>
        <module name="IllegalTokenText">
            <property name="tokens" value="STRING_LITERAL, CHAR_LITERAL"/>
            <property name="format"
                      value="\\u00(09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)"/>
            <property name="message"
                      value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
        </module>
        <module name="AvoidEscapedUnicodeCharacters">
            <property name="allowEscapesForControlCharacters" value="true"/>
            <property name="allowByTailComment" value="true"/>
            <property name="allowNonPrintableEscapes" value="true"/>
        </module>
        <module name="OneTopLevelClass"/>
        <module name="NoLineWrap"/>
        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
            <property name="tokens" value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
        </module>

        <module name="Regexp">
            <property name="format" value="[ \t]+$"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Trailing whitespace"/>
        </module>

        <!-- Naming Conventions -->
        <module name="ConstantName"/>
        <module name="MethodName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Annotations -->
        <module name="MissingOverride"/>

        <!-- Javadoc Comments -->
        <module name="JavadocStyle"/>
        <module name="MissingJavadocMethod">
            <property name="severity" value="warning"/>
        </module>
        <module name="MissingJavadocPackage">
            <property name="severity" value="warning"/>
        </module>
        <module name="JavadocType"/>
        <module name="MissingJavadocType">
            <property name="severity" value="warning"/>
        </module>
        <module name="JavadocVariable">
            <property name="severity" value="warning"/>
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocMethod"/>

    </module>
</module>
